.main-window {
    background-color: rgba(0, 0, 0, 0.1);
    border: dashed 0.15rem darkslategray;
    border-radius: 1rem;
}

.main-window row {
    background: none;
}
.main-window list {
    background-color: rgba(48, 48, 48, 0.95);
}

.help-title {
  font-weight: bold;
}
